<table>
  <tr>
    <td colspan=2>
      <h2>{{critiqueRequest.title}}</h2> <span> by {{critiqueRequest.requesterUsername}}</span>
    </td>
  </tr>
  <tr id="container">
    <td>
      <img #originalImage [src]="critiqueRequest.imageUrl" (click)="clickedImage($event)" [style.opacity]="originalImageOpacity" />
      <div id="paintoverContainer" [style.width.px]="paintoverContainerWidth">
        <img *ngIf="selectedCritique?.paintoverUrl" [src]="selectedCritique?.paintoverUrl" class='paintover' [style.opacity]="overlayOpacity" />
      </div>
      <div class="box" *ngFor="let box of selectedCritique?.boxes" [style.left.px]="box.x" [style.opacity]="overlayOpacity" [style.top.px]="box.y" [style.width.px]="box.width" [style.height.px]="box.height"></div>
      <div class="indicator" *ngFor="let indicator of selectedCritique?.indicators" [style.opacity]="overlayOpacity" [style.left.px]="indicator.x" [style.top.px]="indicator.y">{{indicator.value}}</div>
      <br/>
      <mat-slider *ngIf="selectedCritique?.paintoverUrl" id="paintoverSlider" min="0" max="100" value="100" tickInterval="1" (input)="paintoverSliderChanged($event)"></mat-slider>
    </td>
    <td>
      <b>Critiques</b>
      <hr />

      <div *ngFor="let critique of critiques" class="critique" [class.selected]="critique.selected" (click)="clickedCritique(critique)">
        <span class='author'>{{critique.author}}</span> <span> {{critique.age}}</span>:
        <div [innerHTML]="formatCritiqueMessage(critique)">
        </div>
      </div>

      <button mat-raised-button (click)="openAddCritiqueDialog()">Add Critique</button>
    </td>
  </tr>
  <tr style='position:absolute;top:700px;opacity:0.7;'>

    <td colspan=1>
      <br/>
      Original image opacity: <mat-slider thumbLabel min="0" max="100" value="100" tickInterval="1" (input)="originalImageOpacityChanged($event)"></mat-slider><br/>
      Overlay opacity: <mat-slider thumbLabel min="0" max="100" value="100" tickInterval="1" (input)="overlayOpacityChanged($event)"></mat-slider><br/>
      
      <b>Features to add:</b>
      <ul>
        <li>color picker to change from red overlays to something else</li>
        <li>allow people to leave anonymous critiques</li>
        <li>hover over text will make the relevant overlays more visible/hide the others</li>
        <li>critique upvoting/downvoting/reporting</li>
        <li>Info about the painting from the creator - medium, description, what they're looking for</li>
        <li>Some way to make the critique bigger... maybe pop it out in a new window?</li>
        <li>Possibly a way for the creator to upload revisions so people can see how their feedback was incorporated</li>
        <li>Link sharing - let critiques be private so people can share out a link to their friends</li>
      </ul>
    </td>
  </tr>
</table>