<mat-card>
    <h1>Critique Request Thing</h1>
    <mat-card>Some info about what this is goes here!</mat-card>

    <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>Browse</mat-panel-title>
                    <mat-panel-description>View public critique requests</mat-panel-description>
                </mat-expansion-panel-header>
                
                <app-browse-requests></app-browse-requests>

            </mat-expansion-panel>
        
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>New</mat-panel-title>
                    <mat-panel-description>Request a new critique</mat-panel-description>
                </mat-expansion-panel-header>
                <app-create-critique-request></app-create-critique-request>
            </mat-expansion-panel>
        </mat-accordion>

</mat-card>