.miniIndicator {
    background-color: red;
    color: white;
    font-size: small;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
    font-size: 8pt;
    /* opacity: 0.7; */
}

.miniIndicator:hover {
    opacity: 1;
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.q-ind {
    background-color: red;
}

